@page
@model AbGraphsModel
@{
    ViewData["Title"] = "AB Grafy";
}
<div id="cshtmlSection"></div>
<p style="height: 24px;"></p>
<div class="footer">
    <div class="container">
        <a class="copyright" href="https://app.cz/vseobecne-obchodni-podminky/?utm_source=app.app.cz&utm_medium=app-paticka&utm_campaign=app-obchodni-podminky" target="_blank">Všeobecné obchodní podmínky</a> |
        <a class="copyright" href="https://app.cz/ochrana-osobnich-udaju/?utm_source=app.app.cz&utm_medium=app-paticka&utm_campaign=app-ochrana-udaju" target="_blank">Ochrana osobních údajů</a> |
        <a class="copyright" href="https://app.cz/kontakt/?utm_source=app.app.cz&utm_medium=app-paticka&utm_campaign=app-kontakt" target="_blank">Kontakt</a>
    </div>
</div>
