@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
<h3>Development Mode</h3>
<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>
<p>
    <strong>Development environment should not be enabled in deployed applications</strong>, as it can result in sensitive information from exceptions being displayed to end users. For local debugging, development environment can be enabled by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>, and restarting the application.
</p>
<p style="height: 24px;"></p>
<div class="footer">
    <div class="container">
        <a class="copyright" href="https://app.cz/vseobecne-obchodni-podminky/?utm_source=app.app.cz&utm_medium=app-paticka&utm_campaign=app-obchodni-podminky" target="_blank">Všeobecné obchodní podmínky</a> |
        <a class="copyright" href="https://app.cz/ochrana-osobnich-udaju/?utm_source=app.app.cz&utm_medium=app-paticka&utm_campaign=app-ochrana-udaju" target="_blank">Ochrana osobních údajů</a> |
        <a class="copyright" href="https://app.cz/kontakt/?utm_source=app.app.cz&utm_medium=app-paticka&utm_campaign=app-kontakt" target="_blank">Kontakt</a>
    </div>
</div>
